<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>धतुरूपाणि </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div id="header" align="center">
  <h1 align="center">धतुरूपाणि </h1>

  <h2 align="center">भ्वद्यादिजुहोत्यादि: दिवादि:स्वादिरेव च |</h2>

  <h2 align="center"> तुदादिश्च रुधादिश्च तन:क्र्यादिचुरदय: ||</h2>

  <% if @user.errors.any? %>
      <div align="center">
        <table>
          <tr>
            <td>
              <span class="error_heading">Sign Up is failed</span>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
      </div>
  <% end %>
  <div align="center">
    <%= form_for @user do |f| %>
        <table width="35%" class="thin_table">
          <tr>
            <th colspan="2" align="center">
              <span class="heading">Sign Up</span>
            </th>
          </tr>
          <tr>
            <td> <%= f.label :name %></td>
            <td> <%= f.text_field :name %></td>
          </tr>
          <tr>
            <td> <%= f.label :email %></td>
            <td> <%= f.text_field :email %></td>
          </tr>
          <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password %></td>
          </tr>
          <tr>
            <td><%= f.label :password_confirmation %></td>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>
          <tr>
            <td align="center"><%= f.submit "Sign Up" %></td>
          </tr>
        </table>
    <% end %>
  </div>

</div>

</body>
</html>
