<div align="center">
  <%= link_to "New #{ApplicationHelper::DHATU}", new_dhatu_path %>
  <table border="1" cellpadding="5" width="50%">
    <tr>
      <th><font size="+1">धातु</font></th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @dhatus.each do |d| %>
        <tr>
          <td align="center"><%= d.name %></td>
          <td align="center"><%= d.description %></td>
          <td align="center">
            <table width="100%">
              <tr>
                <td align="center"><%= link_to "Edit", edit_dhatu_path(d) %></td>
                <td align="center"><%= link_to "View", dhatu_path(d) %></td>
                <td align="center"><%= link_to "Delete", dhatu_path(d), :method => :delete, data: {:confirm => 'Are you sure?'} %></td>
              </tr>
            </table>
          </td>
        </tr>
    <% end %>
  </table>
</div>

